<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-contact">
          <h3><img src="./assets/img/logo.png" alt="" style="height: 50px" /></h3>
          <p>
            6-1-276/A/1, <br />
            Chidanandam Colony,<br />
            Padmaraonagar <br />
            Hyderabad, Telangana 500025 <br /><br />
            <strong>Phone:</strong><br />
            +91 9704191113<br />
            +91 7989721899 <br />
            <strong>Email:</strong><br />
            ramakanth@rk-exim.com <br />ramakanth@rk-exim.in
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#aboutus">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#products">Products</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Products</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/fueladditives">Fuel Treatment Chemicals</a></li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="/pipefittings">Pipe Fittings</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="/biodegradableleafplates">Biodegradable disposable leaf plates</a>
            </li>
            <li>
              <i class="bx bx-chevron-right"></i>
              <a href="/handicrafts">Handicrafts</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Social Networks</h4>
          <p>Follow us on social media to stay updated on the latest news, events, and exciting developments.</p>
          <div class="social-links mt-3">
            <a href="" class="twitter"><i class="bi bi-twitter-x"></i></a>
            <a href="" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="" class="instagram"><i class="bi bi-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="footer-bottom">
    <div class="container clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>RK EXIM</span></strong
        >. All Rights Reserved
      </div>
      <!-- <div class="credits">Designed by <a href="#">Ganesh Nimmala</a></div> -->
    </div>
  </section>
</footer>
