<header id="header" class="d-flex align-items-center header-transparent">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-12 d-flex align-items-center justify-content-between">
        <!--  image logo -->
        <a href="/" class="logo"><img src="/assets/img/logo.png" alt="logo" class="img-fluid" /></a>
        <div id="google_translate_element"></div>
        <nav id="navbar" class="navbar">
          <ul>
            <li>
              <a class="nav-link scrollto" href="/">Home</a>
            </li>
            <li>
              <a class="nav-link scrollto" href="/about">About Us</a>
            </li>
            <li class="dropdown">
              <a href="/products"><span>Products</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <!-- <li><a href="/fueltreatmentchemicals">Fuel Chemical Treatment</a></li>
                <li><a href="/pipefittings">Pipe Fittings</a></li>
                <li><a href="/biodegradableleafplates">Biodegradable Disposable Leaf Plates</a></li>
                <li><a href="/handicrafts">Handicrafts</a></li> -->
                <li class="dropdown">
                  <a href=""><span>Chemical</span><i class="bi bi-chevron-right"></i></a>
                  <ul>
                    <li><a href="/fueladditives">Fuel Additive</a></li>
                    <li><a href="/dieseladditives">Diesel Additive</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href=""><span>Metals</span><i class="bi bi-chevron-right"></i></a>
                  <ul>
                    <li><a href="/pipefittings">Pipe Fittings</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href=""><span>Bio-degradable</span><i class="bi bi-chevron-right"></i></a>
                  <ul>
                    <li>
                      <a href="/biodegradableleafplates"
                        >Bio-degradable disposable <br />
                        leaf plates</a
                      >
                    </li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href=""><span>Handicrafts</span><i class="bi bi-chevron-right"></i></a>
                  <ul>
                    <li><a href="/handicrafts">Metal handicrafts</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a class="nav-link scrollto" href="/contactus">Contact Us</a>
            </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </div>
  </div>
</header>
