<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="RK EXIM exporter supplier of fuel and water treatment chemicals additives pipe fittings biodegradable products handicrafts from India.">
    <meta name="keywords" content="RK EXIM exporter supplier of fuel and water treatment chemicals additives pipe fittings biodegradable products handicrafts from India.">
    <title>RK EXIM Exporter Supplier from India</title>
    <link rel="stylesheet" href="/assets/owl-carousale/owl-carousel/owl.carousel.css" />
    <link rel="stylesheet" href="/assets/owl-carousale/owl-carousel/owl.theme.css" />
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/bootstrap-icons/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="/assets/aos/aos.css" />
    <link rel="stylesheet" href="/assets/css/common.css" />
    <link rel="stylesheet" href="/assets/css/style1.css" />
  </head>
  <body>
    <%- include('./partials/header') %>
    <main>
      <!-- breadcrumb -->
      <%- include('./partials/breadcrumbs',{path:"Contact Us"}) %>
      <!-- breadcrumb -->

      <!-- contact us form -->
      <%- include('./partials/contactus.ejs') %>
      <!-- contact us form -->
    </main>
    <%- include('./partials/footer') %>

    <script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/aos/aos.js"></script>
    <script>
      (function () {
        "use strict";

        /**
         * Easy selector helper function
         */
        const select = (el, all = false) => {
          el = el.trim();
          if (all) {
            return [...document.querySelectorAll(el)];
          } else {
            return document.querySelector(el);
          }
        };

        /**
         * Easy event listener function
         */
        const on = (type, el, listener, all = false) => {
          let selectEl = select(el, all);
          if (selectEl) {
            if (all) {
              selectEl.forEach((e) => e.addEventListener(type, listener));
            } else {
              selectEl.addEventListener(type, listener);
            }
          }
        };

        /**
         * Easy on scroll event listener
         */
        const onscroll = (el, listener) => {
          el.addEventListener("scroll", listener);
        };

        /**
         * Mobile nav toggle
         */
        on("click", ".mobile-nav-toggle", function (e) {
          select("#navbar").classList.toggle("navbar-mobile");
          this.classList.toggle("bi-list");
          this.classList.toggle("bi-x");
        });

        /**
         * Mobile nav dropdowns activate
         */
        on(
          "click",
          ".navbar .dropdown > a",
          function (e) {
            if (select("#navbar").classList.contains("navbar-mobile")) {
              e.preventDefault();
              this.nextElementSibling.classList.toggle("dropdown-active");
            }
          },
          true
        );
      })();
    </script>
    <script>
      // code for AOS
      AOS.init({
        duration: 1000,
        easing: "ease-in-out",
        once: true,
        mirror: false,
      });
    </script>

    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({ pageLanguage: "en" }, "google_translate_element");
      }
    </script>

    <script
      type="text/javascript"
      src="https://translate.google.com/translate_a/element.js?
cb=googleTranslateElementInit"
    ></script>

    <script>
      // code for working the contack us form
      document.addEventListener("DOMContentLoaded", () => {
        const form = document.getElementById("contactForm");
        const successMessage = document.getElementById("successMessage");
        const failureMessage = document.getElementById("failureMessage");
        const spinner = document.getElementById("spinner");
        const spinnerImg = ` <img src="/assets/img/spinner.gif" alt="" width="100px">`;

        form.addEventListener("submit", async (event) => {
          event.preventDefault();
          successMessage.innerText = "";
          failureMessage.innerText = "";
          spinner.innerHTML = spinnerImg;
          let formData = {
            name: document.getElementById("name").value,
            mobile: document.getElementById("mobile").value,
            email: document.getElementById("email").value,
            product: document.getElementById("product").value,
            message: document.getElementById("message").value,
          };
          try {
            const response = await fetch("/contactus/submit", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify(formData),
            });

            if (response.ok) {
              spinner.removeChild(spinner.firstElementChild);
              form.reset();
              const responseData = await response.text();
              response.status === 200
                ? (successMessage.textContent = " Thankyou for contacting us ")
                : response.status === 500
                ? (failureMessage.textContent = "An error occurred. Please try again later.")
                : "";
            } else {
              throw new Error("Failed to submit form");
            }
          } catch (error) {
            console.error("Error submitting form:", error);
            spinner.removeChild(spinner.firstElementChild);
            form.reset();
            failureMessage.textContent = "An error occurred. Please try again later.";
          }
        });
      });
    </script>
  </body>
</html>
