<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="RK EXIM exporter supplier of fuel and water treatment chemicals additives pipe fittings biodegradable products handicrafts from India.">
    <meta name="keywords" content="RK EXIM exporter supplier of fuel and water treatment chemicals additives pipe fittings biodegradable products handicrafts from India.">
    <title>RK EXIM Exporter Supplier from India</title>

    <link rel="stylesheet" href="/assets/owl-carousale/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/assets/owl-carousale/owl-carousel/owl.theme.css">
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/bootstrap-icons/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/assets/aos/aos.css">
    <link rel="stylesheet" href="/assets/css/common.css">
    <link rel="stylesheet" href="/assets/css/style1.css">
</head>
<body>
    <%- include('./partials/header') %>
    <main>
      
        <!-- ======= Hero Section ======= -->
        <section id="hero" class="d-flex align-items-center">
            <div class="container">
              <div class="row">
                <div
                  class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
                  
                >
                  <h1>Welcome to RK Exim</h1>
                  <h2>
                    Your Global Trade Partner.
                  </h2>
                  <div class="d-flex justify-content-center justify-content-lg-start">
                    <a href="/products" class="btn-get-started scrollto">Get Started</a>
                  </div>
                </div>
                <div
                  class="col-lg-6 order-1 order-lg-2 hero-img "
                  
                >
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active data-bs-interval="100"">
                        <img src="/assets/img/hero-img6.jpg" class="d-block w-100 img-fluid rounded-circle " alt="...">
                      </div>
                      <div class="carousel-item data-bs-interval="100"">
                        <img src="/assets/img/hero-img5.jpg" class="d-block w-100 img-fluid rounded-circle" alt="...">
                      </div>
                      <div class="carousel-item data-bs-interval="100"">
                        <img src="/assets/img/hero-img3.jpg" class="d-block w-100 img-fluid rounded-circle" alt="...">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section>
        <!-- End Hero -->

        <!--About Us-->
        <section class="py-3 py-md-5" id="aboutus">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-5 col-md-5 order-2 order-md-1 mt-4 pt-2 mt-sm-0 opt-sm-0">
                <div class="row align-items-center">
                  <div class="col-lg-6 col-md-6 col-6" data-aos="zoom-in-up">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 mt-4 pt-2">
                        <div class="card work-desk rounded border-0 shadow-lg overflow-hidden">
                          <img src="/assets/img/certificate3.jpg" class="img-fluid" alt="Image" />
                          <div class="img-overlay bg-dark"></div>
                        </div>
                      </div>
                      <!--end col-->
                    </div>
                    <!--end row-->
                  </div>
                  <!--end col-->
  
                  <div class="col-lg-6 col-md-6 col-6">
                    <div class="row">
                      <div class="col-lg-12 col-md-12" data-aos="zoom-in-left">
                        <div class="card work-desk rounded border-0 shadow-lg overflow-hidden">
                          <img src="/assets/img/certificate2.jpg" class="img-fluid" alt="Image" />
                          <div class="img-overlay bg-dark"></div>
                        </div>
                      </div>
                      <!--end col-->
  
                      <div class="col-lg-12 col-md-12 mt-4 pt-2" data-aos="zoom-in-left">
                        <div class="card work-desk rounded border-0 shadow-lg overflow-hidden">
                          <img src="/assets/img/certificate1.jpg" class="img-fluid" alt="Image" />
                          <div class="img-overlay bg-dark"></div>
                        </div>
                      </div>
                      <!--end col-->
                    </div>
                    <!--end row-->
                  </div>
                  <!--end col-->
                </div>
                <!--end row-->
              </div>
              <!--end col-->
  
              <div class="col-lg-7 col-md-7 col-12 order-1 order-md-2 p-3 aboutus-content" data-aos="zoom-in-up">
                <div class="row justify-content-xl-center">
                  <div class="col-12 col-xl-11">
                    <div class="shape-bg-fill"><h2 class="mb-3">About RK Exim</h2></div>
  
                    <p class="lead fs-4 mt-5 mb-3">RK Exim is a dynamic company specializing in global trade, facilitating seamless exports and imports across borders.</p>
                    <p class="mb-5">
                      RK Exim is dedicated to providing top-notch services to clients worldwide. We pride ourselves on our commitment to excellence, reliability, and customer satisfaction.
                    </p>
                    <div class="row gy-4 gy-md-0 gx-xxl-5X">
                      <div class="col-12 col-md-6">
                        <div class="d-flex">
                          <div class="me-4 text-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#ff6347" class="bi bi-gear-fill" viewBox="0 0 16 16">
                              <path
                                d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"
                              />
                            </svg>
                          </div>
                          <div>
                            <h2 class="h4 mb-3">Expertise in Global Trade</h2>
                            <p class="mb-0">We specialize in navigating the complexities of international trade, ensuring smooth and efficient transactions for our clients.</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-md-6">
                        <div class="d-flex">
                          <div class="me-4 text-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#ff6347" class="bi bi-fire" viewBox="0 0 16 16">
                              <path
                                d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16Zm0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15Z"
                              />
                            </svg>
                          </div>
                          <div>
                            <h2 class="h4 mb-3">Committed to Excellence</h2>
                            <p class="mb-0">We are dedicated to delivering outstanding service and value to our clients, striving for excellence in everything we do.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--end col-->
            </div>
            <!--enr row-->
          </div>
        </section>
        
         <!--Products-->
        <section id="services-section">
          <section class="section services-section" id="products">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="section-title" data-aos="zoom-in-up">
                            <h2>Products</h2>
                            <p>RK Exim is a trusted exporter and importer, offering a diverse range of products including fuel treatment chemicals, pipe fittings, and biodegradable leaf plates. Our offerings ensure enhanced fuel efficiency, fluid flow control, and eco-friendly disposable solutions for various industries worldwide.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- feaure box -->
                
                    <div class="col-sm-6 col-lg-3 mt-4" data-aos="zoom-in-up">
                      <div class="service-box">
                          <div class="custom-image">
                              <img src="/assets/img/products/fuel additive.png" alt="">
                          </div>
                          <div class="custom-img-text  mt-3">
                              <h5><a href="/fueladditives">Fuel Treatment Chemicals</a></h5>
                          </div>
                      </div>
                    </div>
                    <!-- / -->
                    <!-- feaure box -->
                    <div class="col-sm-6 col-lg-3 mt-4" data-aos="zoom-in-up">
                        <div class="service-box">
                          <div class="custom-image">
                            <img src="/assets/img/steel-pipe-fittings.jpg" alt="">
                          </div>
                          <div class="custom-img-text  mt-3">
                            <h5><a href="/pipefittings">Pipe Fittings</a></h5>
                            
                        </div>
                        </div>
                    </div>
                    <!-- / -->
                    <!-- feaure box -->
                    <div class="col-sm-6 col-lg-3 mt-4" data-aos="zoom-in-up">
                      <div class="service-box">
                        <div class="custom-image">
                          <img src="/assets/img/products/plate1.png" alt="" class="img-fluid">
                        </div>
                        <div class="custom-img-text  mt-3">
                          <h5><a href="/biodegradableleafplates">Biodegradable disposable leaf plates</a></h5>
                      </div>
                      </div>
                  </div>
                  
                  <div class="col-sm-6 col-lg-3 mt-4" data-aos="zoom-in-up">
                    <div class="service-box">
                      <div class="custom-image">
                        <img src="/assets/img/handicrafts.jpeg" alt="" class="img-fluid">
                      </div>
                      <div class="custom-img-text  mt-3">
                        <h5><a href="/handicrafts">Handicrafts</a></h5>
                    </div>
                    </div>
                </div>
              
               
               
                </div>
            </div>
        </section>
        </section>

        <!--certificates-->
        <section id="certificates-section">
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                  <div class="section-title" data-aos="zoom-in-up">
                      <h2 style="color: black; margin-top: 30px;">Our Certificates</h2>
                  </div>
              </div>
          </div>
            <div class="row">
                <div class="col-6 col-sm-6 col-md-3 col-lg-3 mt-4" data-aos="zoom-in-up">
                  <div class="certificate-box">
                    <div id="msme">
                      <img src="/assets/img/fieo.jpg" alt="" width="150px">
                    </div>

                  </div>                                               
                </div>
                <!-- / -->

                <div class="col-6 col-sm-6 col-md-3 col-lg-3 mt-4" data-aos="zoom-in-up">
                  <div class="certificate-box">
                    <div id="msme">
                      <img src="/assets/img/msme-logo.png" alt="" width="150px">
                    </div>

                  </div>
              </div>
                <!-- feaure box -->
                <div class="col-6 col-sm-6 col-md-3 col-lg-3 mt-4" data-aos="zoom-in-up">
                  <div class="certificate-box">
                    <div id="makeinindia">
                      <img src="/assets/img/makeinindia-logo.png" alt=""  width="150px">
                    </div>

                  </div>
                </div>
                <!-- / -->
                <!-- feaure box -->
              
              
              <div class="col-6  col-sm-6 col-md-3 col-lg-3 mt-4" data-aos="zoom-in-up">
                <div class="certificate-box">
                  <div id="foreigntrade">
                    <img src="/assets/img/foreigntrade-logo.png" alt=""  width="150px">
                  </div>

                </div>
            </div>
            </div>
        </div>
        </section>

       <!-- contact us form -->
       <%- include('./partials/contactus.ejs') %>
       <!-- contact us form -->

      <!-- whatsapp chat button -->
      <%- include('./partials/whatsappchat.ejs') %>
      <!--  whatsapp chat button -->

    </main>
    <%- include('./partials/footer') %>

<script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/aos/aos.js"></script>


<script>
  (function () {
  "use strict";

  /**
   * Easy selector helper function
   */
  const select = (el, all = false) => {
    el = el.trim();
    if (all) {
      return [...document.querySelectorAll(el)];
    } else {
      return document.querySelector(el);
    }
  };

  /**
   * Easy event listener function
   */
  const on = (type, el, listener, all = false) => {
    let selectEl = select(el, all);
    if (selectEl) {
      if (all) {
        selectEl.forEach((e) => e.addEventListener(type, listener));
      } else {
        selectEl.addEventListener(type, listener);
      }
    }
  };

  /**
   * Easy on scroll event listener
   */
  const onscroll = (el, listener) => {
    el.addEventListener("scroll", listener);
  };


  

 

 
  /**
   * Mobile nav toggle
   */
  on("click", ".mobile-nav-toggle", function (e) {
    select("#navbar").classList.toggle("navbar-mobile");
    this.classList.toggle("bi-list");
    this.classList.toggle("bi-x");
  });

  /**
   * Mobile nav dropdowns activate
   */
  on(
    "click",
    ".navbar .dropdown > a",
    function (e) {
      if (select("#navbar").classList.contains("navbar-mobile")) {
        e.preventDefault();
        this.nextElementSibling.classList.toggle("dropdown-active");
      }
    },
    true
  );
})();

</script>


<script>
  // code for working the contack us form
  document.addEventListener('DOMContentLoaded', () => {
    const form = document.getElementById('contactForm');
    const successMessage = document.getElementById('successMessage');
    const failureMessage = document.getElementById('failureMessage');
    const spinner = document.getElementById('spinner');
    const spinnerImg = ` <img src="/assets/img/spinner.gif" alt="" width="100px">`;

    form.addEventListener('submit', async (event)=>{
      event.preventDefault();
      successMessage.innerText = "";
      failureMessage.innerText = "";
      spinner.innerHTML = spinnerImg;
      let formData = {
        name: document.getElementById("name").value,
        mobile: document.getElementById("mobile").value,
        email: document.getElementById("email").value,
        product: document.getElementById("product").value,
        message: document.getElementById("message").value
      };
      try {
            const response = await fetch('/contactus/submit', {
                method: 'POST',
                headers: {
                   "Content-Type": "application/json", 
                },
                body: JSON.stringify(formData)
            });

            if (response.ok) {
                
                spinner.removeChild(spinner.firstElementChild);
                form.reset();
                const responseData = await response.text();
                (response.status === 200)?successMessage.textContent = '🙏🏽 Thankyou for contacting us 🙏🏽 ':(response.status === 500)? failureMessage.textContent = 'An error occurred. Please try again later.': '';
                
            } else {
                throw new Error('Failed to submit form');
            }
        } catch (error) {
            console.error('Error submitting form:', error);
            spinner.removeChild(spinner.firstElementChild);
            form.reset();
            failureMessage.textContent = 'An error occurred. Please try again later.'; }
    });
        
    })
</script>


<script>   // code for AOS 
  AOS.init({
     duration: 1000,
     easing: "ease-in-out",
     once: true,
     mirror: false,
   });
 </script>


<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({ pageLanguage: "en" }, "google_translate_element");
  }
</script>

<script
  type="text/javascript"
  src="https://translate.google.com/translate_a/element.js?
cb=googleTranslateElementInit"
></script>

</body>
</html>